<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>

            <h2>😉 Timestamp Microservice</h2>
                
        </div>
            <small>Microservicio de marca de tiempo. <a  href="https://github.com/bmsebastian2/ES6MarcaTiempo"  target="_blank">Github 👈</a></small>

        <button id="fetch" type="">FETCH</button>
            <div class="info" id="info">
                <div class="parrafo">

                    <p>🖥 - System: </p><strong id="sistema"> </strong>
                </div>
                <div class="parrafo">

                    <p>⚙ - Versión: </p> <strong id="sistema"> </strong>
                </div>
                <div class="parrafo">

                    <p>💾 - Memoria: </p><strong id="sistema"> </strong>
                </div>
                <div class="parrafo" id='track'>

                    <p>📅 - Track: </p><strong id="sistema"> </strong>
                </div>
            </div>
            
            
            <div class="tecno">
                              
                <small> <strong>By:</strong>  bmsebastian2@gmail.com</small>
            </div>
    </div>
    </h1>
    <script src="app.js"></script>
</body>
</html>